
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


@keyframes fadeInNoMove {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#contact, footer, #projects,header {
    animation: fadeInNoMove 2s ease-out;
    opacity: 1;
}

/* État initial avant l'animation */
header, #projects, #contact, footer {
    opacity: 1;
}


body
{
    font-family: Arial,sans-serif;
line-height: 1.6;
color: white;

}
header
{
    background-color: transparent;
    backdrop-filter: blur(20px);
    background-image: linear-gradient(
        120deg ,rgba(00,73,255 ,0.3) ,rgba(0,0,0,0.2)
    );
    color: white;
    padding: 1rem;
    text-align: center;
}

 a 
{
    color: white;
    margin: 0 10px;
    text-decoration: none;
    font-weight:bold;

}
header nav a:hover
{
    text-decoration:underline;

}

#projects
{
  padding: 2rem;
    text-align: center;
}

.project-list
{
    display: flex;
    justify-content: left;
    flex-wrap: wrap;
    gap: 2rem;
}

.project
{
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
        120deg ,rgba(00,73,255 ,0.3) ,rgba(0,0,0,0.2)
    );

border-radius:5px ;
padding : 1rem;
margin: 1rem;
width:300px;
text-align: left ;
border: 1px solid rgba(255, 255, 255, 0.18);
transition: transform 0.3s ease, box-shadow 0.3s ease;
box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
}
.project:hover
{
    transform: perspective(1000px) translateZ(20px) scale(1.05);
    box-shadow: 0 20px 30px rgba(0, 0, 0, 0.3);
    transform: translateY(-10px);
    animation: 2s;
}
.projects h3
{
    color: #0073e6;
}




.btn
{
    display: inline-block;
    padding: 0.5rem 1rem;
    margin-top:1rem ;
    color:white;
    background-color: #0073e6 ;
    border-radius:5px;
    text-decoration: none;
}
.btn:hover
{
    background-color: #005bb5;
}


footer
{
    text-align: center;
    padding: 1rem;
    background-color: transparent;
    backdrop-filter: blur(10px);
    background-image: linear-gradient(
        120deg ,rgba(00,73,255 ,0.3) ,rgba(0,0,0,0.2)
    );
    color: white;
    position: fixed;
    bottom: 0;
    width: 100%;
}



#v1
{
    object-fit: cover;
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    z-index: -1;
}







